#sidebar-ul-li{

    padding:10px;
    height: 50px;
    border-top:1px solid black;
    position: relative;
    border-radius: 7px;
    margin-top:3px;
}
#sidebar-ul-li:hover{
    transform: scaleY(1.1);
    background-color: rgb(33, 131, 118);

}
#sidebar-ul-li-highlighter{
    position: absolute;
    height: 50px;
    top: 0px;
    left:0px;
    background-color: cadetblue;
    width: 5px;

}
#sidebar-ul-li:hover #sidebar-ul-li-highlighter{
    background-color: rgb(9, 77, 65);
}